<div class="container">
  <div class="d-flex">
    <div class="mt-4">
      <p>{{arrRoom?.length}} chỗ ở {{searchInfo?.checkIn | date: 'dd/MM'}} - {{searchInfo?.checkOut | date: 'dd/MM'}}
      </p>
      <h2>Chỗ ở tại khu vực bản đồ đã chọn</h2>
      <div class="py-4">
        <button type="button" class="btn btn-outline-secondary rounded-pill me-1">Loại nơi
          ở</button>
        <button type="button" class="btn btn-outline-secondary rounded-pill me-1">Giá</button>
        <button type="button" class="btn btn-outline-secondary rounded-pill me-1">Đặt
          ngay</button>
        <button type="button" class="btn btn-outline-secondary rounded-pill me-1">Phòng và
          phòng
          ngủ</button>
        <button type="button" class="btn btn-outline-secondary rounded-pill me-1">Bộ lọc
          khác</button>
      </div>
      <div *ngFor="let room of arrRoom | paginate: { itemsPerPage: 3, currentPage: cp}" class="card mb-3 border-0">
        <div class="d-flex flex-wrap" style="border-bottom: 1px solid rgba(0,0,0,.1);">
          <img [src]="room.image || imageDefault" class="rounded-start img-fluid" alt="...">
          <div class="card-body w-50">
            <a type="button" (click)="goRoomDetail(room)">
              <p class="card-text"><small class="text-muted">Toàn bộ căn hộ dịch vụ tại
                  {{room.locationId.name}},{{room.locationId.province}}</small></p>
              <h5 class="card-title">{{room.name}}</h5>
              <hr style="width: 2rem; opacity: .2" />
              <p class="card-text">{{room.guests}} khách. {{room.bedRoom}} giường. {{room.bath}} phòng tắm
                <br />{{room.wifi ? 'Wifi. ':''}}{{room.kitchen ? 'Bếp. ':''}}{{room.hotTub ? 'Bồn nước nóng.
                ':''}}{{room.heating ? 'Lò sưởi. ': ''}}
              </p>
              <p class="text-end"><b>{{room.price | number}} VND</b>/tháng</p>
            </a>
          </div>

        </div>
      </div>

      <pagination-controls class="d-flex justify-content-end" (pageChange)="cp = $event" nextLabel="" previousLabel="">
      </pagination-controls>
    </div>
    <div #map class="d-none d-lg-flex w-50">
    </div>
  </div>
</div>
