<p-toast></p-toast>
<button pButton pRipple label="Thêm phòng" icon="pi pi-plus" class="p-button-success me-2"
  (click)="addNewRoom()"></button>
<div class="card mt-4 border-top-0">
  <p-table #dt [value]="arrRoom" [rows]="10" [paginator]="true" [globalFilterFields]="['name']"
    responsiveLayout="scroll" [rowHover]="true" dataKey="_id"
    currentPageReportTemplate="Hiển thị {first} đến {last} trong số {totalRecords} phòng"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input style="width: 300%;" pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Nhập vào tên phòng" />
      </span>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="_id">Mã phòng <p-sortIcon field="_id"></p-sortIcon>
        </th>
        <th pSortableColumn="name">Tên phòng <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>Hình ảnh</th>
        <th pSortableColumn="locationId">Địa điểm <p-sortIcon field="locationId"></p-sortIcon>
        </th>
        <th pSortableColumn="guests">Số khách <p-sortIcon field="guests"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ro>
      <tr>
        <td data-bs-toggle="tooltip" data-bs-placement="bottom" [title]="">
          {{ro._id}}
        </td>
        <td>{{ro.name}}</td>
        <td class="text-center">
          <img [src]="ro.image || imageDefault" [alt]="" width="100" class="shadow-4 mb-1" />
          <br />
          <label class="editPic-label" role="button">
            Chỉnh sửa
            <input class="hidden" type="file" id="newPhoto" accept="image/*" (change)="updateImage($event, ro._id)" />
          </label>
        </td>
        <ng-container *ngFor="let location of arrLocation">
          <td *ngIf="location.value === ro.locationId">
            {{location.label}}
          </td>
        </ng-container>
        <td>{{ro.guests}}</td>
        <td>
          <button pButton pRipple icon="pi pi-info" pTooltip="Chi tiết"
            class="p-button-rounded p-button-primary me-2 my-1" (click)="viewDetailRoom(ro._id)"></button>
          <button pButton pRipple icon="pi pi-pencil" pTooltip="Sửa" class="p-button-rounded p-button-success me-2 my-1"
            (click)="editRoom(ro)"></button>
          <button pButton pRipple icon="pi pi-trash" pTooltip="Xóa" class="p-button-rounded p-button-warning my-1"
            (click)="deleteRoom(ro)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Tổng cộng có {{arrRoom ? arrRoom.length : 0}} phòng.
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="roomDialog" [style]="{width: '450px'}" header={{headerDialog}} [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form #roomForm="ngForm" (ngSubmit)="clickRoomAction()">
      <!-- <img [src]="room.image" [alt]="room.image" class="room-image" *ngIf="room.image"> -->
      <div class="field">
        <label for="name">Tên</label>
        <input type="text" pInputText id="name" [(ngModel)]="room.name" required #roomName="ngModel" name="name" />
        <ng-container *ngIf="roomName.invalid && (roomName.dirty || roomName.touched)">
          <small class="p-error" *ngIf="roomName.errors?.['required']">
            Tên phòng không được bỏ trống.
          </small>
        </ng-container>
      </div>
      <div class="field">
        <label class="mb-3">Số lượng</label>
        <div class="formgrid grid">
          <div class="field col-4">
            <label for="guests">Khách</label>
            <p-inputNumber id="guests" [(ngModel)]="room.guests" name="guests"></p-inputNumber>
          </div>
          <div class="field col-4">
            <label for="bedRoom">Phòng ngủ</label>
            <p-inputNumber id="bedRoom" [(ngModel)]="room.bedRoom" name="bedRoom"></p-inputNumber>
          </div>
          <div class="field col-4">
            <label for="bath">Phòng tắm</label>
            <p-inputNumber id="bath" [(ngModel)]="room.bath" name="bath"></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="description">Mô tả</label>
        <textarea id="description" pInputTextarea rows="3" cols="50" [(ngModel)]="room.description"
          name="description"></textarea>
      </div>
      <div class="field">
        <label for="price">Giá tiền</label>
        <p-inputNumber id="price" [(ngModel)]="room.price" mode="currency" currency="VND" locale="vi" name="price">
        </p-inputNumber>
      </div>
      <div class="field">
        <label class="mb-3">Tiện nghi</label>
        <div class="formgrid grid">
          <div class="field-checkbox col-6">
            <p-checkbox name="elevator" [binary]="true" [(ngModel)]="room.elevator" inputId="elevator"></p-checkbox>
            <label for="elevator">Thang máy</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="hotTub" [binary]="true" [(ngModel)]="room.hotTub" inputId="hotTub"></p-checkbox>
            <label for="hotTub">Bồn nước nóng</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="pool" [binary]="true" [(ngModel)]="room.pool" inputId="pool"></p-checkbox>
            <label for="pool">Hồ bơi</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="indoorFireplace" [binary]="true" [(ngModel)]="room.indoorFireplace"
              inputId="indoorFireplace"></p-checkbox>
            <label for="indoorFireplace">Lò sưởi trong nhà</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="dryer" [binary]="true" [(ngModel)]="room.dryer" inputId="dryer"></p-checkbox>
            <label for="dryer">Máy sấy khô</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="gym" [binary]="true" [(ngModel)]="room.gym" inputId="gym"></p-checkbox>
            <label for="gym">Phòng thể dục</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="kitchen" [binary]="true" [(ngModel)]="room.kitchen" inputId="kitchen"></p-checkbox>
            <label for="kitchen">Nhà bếp</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="wifi" [binary]="true" [(ngModel)]="room.wifi" inputId="wifi"></p-checkbox>
            <label for="wifi">Wifi</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="heating" [binary]="true" [(ngModel)]="room.heating" inputId="heating"></p-checkbox>
            <label for="heating">Máy làm nóng</label>
          </div>
          <div class="field-checkbox col-6">
            <p-checkbox name="cableTV" [binary]="true" [(ngModel)]="room.cableTV" inputId="cableTV"></p-checkbox>
            <label for="cableTV">Truyền hình cáp</label>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="locationId">Địa điểm</label>
        <p-dropdown [(ngModel)]="room.locationId" inputId="locationId" [options]="arrLocation"
          placeholder="Chọn địa điểm" name="locationId">
          <ng-template let-option pTemplate="item">
            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="field">
        <label for="valueate">Đánh giá</label>
        <p-inputNumber id="valueate" [(ngModel)]="room.valueate" name="valueate">
        </p-inputNumber>
      </div>
      <div class="d-flex justify-content-center">
        <button [disabled]="roomForm.invalid" type="submit" pButton pRipple [label]="actionBtnDialog"
          class="w-50 p-button-text"></button>
        <button type="button" pButton pRipple label="Hủy" class="w-50 p-button-text" (click)="hideDialog()"></button>
      </div>
    </form>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="viewDetailDialog" [style]="{width: '450px'}" header={{room?.name}} [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="card mb-3" style="border: 0;">
      <img [src]="room?.image || imageDefault" class="card-img-top" alt="room.image">
      <div class="card-body">

        <h5 class="card-title">{{room?.description}}</h5>
        <p class="card-text">Mã phòng : <span class="text-muted">{{room?._id}} VND</span> </p>
        <p class="card-text">Số Lượng :
          <span class="text-muted">{{room?.guests}} khách.</span>
          <span class="text-muted">{{room?.bedRoom}} phòng ngủ.</span>
          <span class="text-muted">{{room?.bath}} phòng tắm.</span>
        </p>
        <p class="card-text">Giá tiền : <span class="text-muted">{{room?.price | number}} VND</span> </p>
        <p class="card-text">Tiện nghi :</p>
        <div class="d-flex flex-wrap mb-3">
          <p class="card-text me-3 text-muted" *ngIf="room?.elevator">Thang máy</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.hotTub">Bồn nước nóng</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.pool">Hồ bơi</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.indoorFireplace">Lò sưởi trong nhà</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.dryer">Máy sấy khô</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.gym">Phòng thể dục</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.kitchen">Nhà bếp</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.wifi">Wifi</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.heating">Máy làm nóng</p>
          <p class="card-text me-3 text-muted" *ngIf="room?.cableTV">Truyền hình cáp</p>
        </div>
        <p class="card-text">Địa điểm :
          <span class="text-muted">
            {{room?.location}} - {{room?.province}}
          </span>
        </p>
        <p class="card-text">Đánh giá: <span class="text-muted">{{room?.valueate}}</span></p>
      </div>
    </div>
    <button type="button" pButton pRipple label="Thoát" class="p-button-text" (click)="hideDialog()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
