<div class="pt-5 position-relative" style="background-color:rgba(33, 37, 41, 1)">
  <app-room-search></app-room-search>

  <!-- carousel -->
  <div id="carouselExampleSlidesOnly" class="px-4 carousel slide"
    data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../../../assets/images/pexels-eberhard-grossgasteiger-1612351.jpg"
          class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../../assets/images/pexels-pixabay-259962.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../../assets/images/pexels-saviesa-home-2089698.jpg"
          class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <h1>Nhờ có Host, mọi điều đều có thể</h1>
</div>
