<app-carousel></app-carousel>
<div class="m-5">
  <h4 class="my-4 fw-bolder">Khám phá những điểm gần đây</h4>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="card mb-3" style="border-color: transparent;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/id/274/400/400.jpg" class="rounded-3 img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body py-0">
              <p class="card-text">Thành phố Hồ Chí Minh</p>
              <p class="card-text"><small class="text-muted">15 phút lái xe</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card mb-3" style="border-color: transparent;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/id/1037/400/400.jpg" class="rounded-3 img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body py-0">
              <p class="card-text">Cần Thơ</p>
              <p class="card-text"><small class="text-muted">3 giờ lái xe</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card mb-3" style="border-color: transparent;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/id/1038/400/400.jpg" class="rounded-3 img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body py-0">
              <p class="card-text">Nha Trang</p>
              <p class="card-text"><small class="text-muted">6.5 giờ lái xe</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card mb-3" style="border-color: transparent;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/id/271/400/400.jpg" class="rounded-3 img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body py-0">
              <p class="card-text">Phú Quốc</p>
              <p class="card-text"><small class="text-muted">8 giờ lái xe</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card mb-3" style="border-color: transparent;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/id/277/400/400.jpg" class="rounded-3 img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body py-0">
              <p class="card-text">Thành phố Tuy Hòa</p>
              <p class="card-text"><small class="text-muted">7.5 giờ lái xe</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card mb-3" style="border-color: transparent;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/id/402/400/400.jpg" class="rounded-3 img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body py-0">
              <p class="card-text">Thành phố Biên Hòa</p>
              <p class="card-text"><small class="text-muted">45 phút lái xe</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card mb-3" style="border-color: transparent;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/id/1044/400/400.jpg" class="rounded-3 img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body py-0">
              <p class="card-text">Thị xã Thuận An</p>
              <p class="card-text"><small class="text-muted">30 phút lái xe</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card mb-3" style="border-color: transparent;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/id/1045/400/400.jpg" class="rounded-3 img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body py-0">
              <p class="card-text">Thành phố Phan Rang - Tháp Chàm</p>
              <p class="card-text"><small class="text-muted">5 giờ lái xe</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="fw-bolder my-4">Ở bất cứ đâu</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <div class="card h-100 w-100 border-0">
        <img src="https://picsum.photos/id/221/600/600.jpg" class="card-img-top rounded-3" alt="...">
        <div class="card-body">
          <p class="card-text fw-bolder">Toàn bộ nhà</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://picsum.photos/id/142/400/400.jpg" class="card-img-top rounded-3" alt="...">
        <div class="card-body">
          <p class="card-text fw-bolder">Chỗ ở độc đáo</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://picsum.photos/id/169/400/400.jpg" class="card-img-top rounded-3" alt="...">
        <div class="card-body">
          <p class="card-text fw-bolder">Trang trại và thiên nhiên</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://picsum.photos/id/1062/400/400.jpg" class="card-img-top rounded-3" alt="...">
        <div class="card-body">
          <p class="card-text fw-bolder">Cho phép mang theo thú cưng</p>
        </div>
      </div>
    </div>
  </div>
</div>
